.coffee {
  background-image: url("../../assets/coffee.png");
  width: 256px;
  height: 256px;

  background-size: calc(256px * 5) 256px;

  animation: coffeeAnimation 1.5s steps(5) infinite;
}

@keyframes coffeeAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(-256px * 5) 0;
  }
}